@import "~bootstrap/scss/bootstrap";
.App{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;

    .row{
        display: flex;
    }
    .col{
        display: flex;
        flex-direction: column;
    }
    .centered{
        justify-content: center;
        align-items: center;
    }
    .sp-btw{
        justify-content: space-between;
    }
    .buttons{
        width: 90%;
        align-items: flex-start;
        transform: translateY(20%);
        margin-left: 20px;
    }
    .btn{
        width: 40%;
        height: 80px;
        margin: 10px;
        background: #3C9C41;
        border-radius: 16px;
    }
     .btn:hover{
            background: #4DB252;
        }
        .btn:focus{
            background: #318636;
        }
   
    h2{
        width: 90%;
        margin-top: 10%;
        text-align: start;
    }
    
    @media (max-width: 768px)  {
          flex-direction: column;

          .buttons{
              flex-direction: column-reverse;
              transform: translateY(0);

              .btn{
                  width: 85%;
                  margin: auto;
                  transform: translateY(-100%);
              }
          }
      }
}
